<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${boardName}"></title>

	<link rel="stylesheet" th:href="@{/css/board/boardDetail-style.css}">
	<link rel="stylesheet" th:href="@{/css/board/comment-style.css}">

	<script th:src="@{https://kit.fontawesome.com/f7459b8054.js}" crossorigin="anonymous"></script>
</head>

<body>
	<main>
		<th:block th:replace="~{common/header}"></th:block>

		<section class="board-detail" th:object="${board}">
			<!-- 제목 -->
			<h1 class="board-title" th:utext="|*{boardTitle}<span> - ${boardName}</span>|"></h1>

			<!-- 프로필 + 닉네임 + 작성일 + 조회수 -->
			<div class="board-header">
				<div class="board-writer">

					<!-- 프로필 이미지 -->


					<img th:unless="*{profileImage}" th:src="@{/images/user.png}">

					<img th:if="*{profileImage}" th:src="*{profileImage}">



					<span th:text="*{memberNickname}"></span>


					<!-- 좋아요 하트 -->
					<span class="like-area">

						<!-- th:classappen  -> 클래스 추가 -->
						<i class="fa-heart" th:classappend="${likeCheck} ? fa-solid : fa-regular" id="boardLike"></i>

						<span th:text="*{likeCount}"></span>

					</span>

				</div>

				<div class="board-info">
					<p> <span>작성일</span> [[*{boardCreateDate}]] </p>

					<!-- 수정한 게시글인 경우 -->

					<p th:if="*{boardUpdateDate}">
						<span>마지막 수정일</span> [[*{boardUpdateDate}]]
					</p>

					<p> <span>조회수</span> [[*{readCount}]] </p>
				</div>
			</div>

			<!-- 연산자 중복 불가 : ${#lists.size(*{imageList}) > 0} 안됨 -->
			<th:block th:if="${#lists.size(board.imageList) > 0}">

				<th:block th:if="${thumbnail}">

					<h5>썸네일</h5>
					<div class="img-box">
						<div class="boardImg thumbnail">
							<img th:src="|${thumbnail.imagePath}${thumbnail.imageReName}|">
							<a th:href="|${thumbnail.imagePath}${thumbnail.imageReName}|"
								th:download="${thumbnail.imageOriginal}">다운로드</a>
						</div>
					</div>

				</th:block>



				<th:blcock th:if="${#lists.size(board.imageList) > start}">

					<h5>업로드 이미지</h5>

					<th:block th:each="i : ${#numbers.sequence(start, #lists.size(board.imageList)-1, 1)}">

						<div class="img-box">

							<div th:with="path=|${board.imageList[i].imagePath}${board.imageList[i].imageReName}|"
								class="boardImg">

								<img th:src="${path}">
								<a th:href="${path}" th:download="${board.imageList[i].imageOriginal}">다운로드</a>
							</div>

						</div>

					</th:block>

			</th:block>


			<div class="board-content" th:text="*{boardContent}"></div>


			<div class="board-btn-area">

				<!-- 객체?.필드명 : 안전 탐색 연산자(Safe navigation Operator)
            				객체가 null 인지 탐색 -> null이 아닐 경우 필드 접근(nullpoint예외 방지)
            			
            			 -->
				<th:block th:if="${session.loginMember?.memberNo == board.memberNo}">

					<!-- 로그인한 회원과 게시글 작성자 번호가 같은 경우-->
					<button id="updateBtn">수정</button>
					<button id="deleteBtn">삭제</button>

				</th:block>

				<button id="goToListBtn">목록으로</button>
			</div>


		</section>

		<!-- 댓글 include-->
		<th:block th:replace="~{board/comment}"></th:block>
	</main>

	<th:block th:replace="~{common/footer}"></th:block>

	<script th:inline="javascript">
		// JSP 해석 우선 순위 : Java / EL / JSTL  --> HTML,CSS,JS
		const boardType = "*{boardType}";
		const boardNo = /*[[${board.boardNo}]]*/ "게시글 번호"
		const loginMemberNo = /*[[${session.loginMember.memberNo}]]*/  "로그인 회원 번호"

		if (loginMemberNo == null) loginMemberNo == "";

	</script>

	<script th:src="@{/js/board/boardDetail.js}"></script>
	<script th:src="@{/js/board/comment.js}"></script>

</body>

</html>